<H1>Criar Conta</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf='contaInvalida'>{{errorMessage}}</div>

  <div>
    Nome completo : <input type="text" name="dono" [(ngModel)]="dono">
    CPF  : <input type="text" name="cpf" [(ngModel)]="cpf">
    Número da conta  : <input type="number" name="numero" [(ngModel)]="numero">
    Saldo  : <input type="number" name="saldo" [(ngModel)]="saldo">

    <button (click)=handleCriarConta() class="btn btn-success">Criar Conta</button>

  </div>
</div>
