<div class="container">

  <div class="alert alert-warning" *ngIf='depositoInvalido'>{{message}}</div>
  <div class="alert alert-success" *ngIf='depositoRealizado'>{{message}}</div>

  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Depositar em Conta</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">

          <div class="form-group">

            <label>Número da conta</label>
            <input class="form-control" required="true" type="number" name="numero" [(ngModel)]="numero">

          </div>
          <div class="form-group">

            <label>Saldo</label>
            <input class="form-control" required="true" type="number" name="saldo" [(ngModel)]="saldo">

          </div>
          <div class="form-group">

            <label>Quantidade Depósito</label>
            <input class="form-control" required="true" type="number" name="deposito" [(ngModel)]="deposito">

          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <button (click)=handleDepositar() class="btn btn-success">Depositar</button>
        </div>
      </form>
    </div>
  </div>
</div>
